@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --colors-text: rgba(255, 255, 255, 0.87);
  --colors-text-secondary: #ffcbdd;
  --colors-border: #fef6e7;
  --colors-background: #242424;
  --colors-btn-background: #1a1a1a;

  --ui-text: var(--colors-text);
  --ui-text-secondary: var(--colors-text-secondary);
  --ui-border: var(--colors-border);
  --ui-background: var(--colors-background);
  --ui-btn-background: var(--colors-btn-background);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  
  color: var(--ui-text);
  background-color: var(--ui-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--ui-btn-background);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--ui-border);
}

input, textarea {
  background-color: var(--ui-background);
  width: 100%;
  padding: 4px;
}

input:focus, input:valid {
  background-color: inherit;
}

table *:not(input, svg, div) {
  border: 1px solid var(--ui-text-secondary);
  padding: 8px;
}

/* TODO */
/* @media (prefers-color-scheme: light) {
} */
